
.registers{
  background: #BA55D3;
}

.title{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.register{
  display: flex;
  justify-content: center;
  margin: 30px 400px;
}

@media (max-width: 700px){
  .register{
    display: flex;
    justify-content: center;
    margin: 30px 20px;
  }
}